hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: red;
  width: 8%;
}
body{
  background-color: burlywood;
}
h1{
  color: #F24A72;
  text-decoration: underline #F56D91 wavy 2px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #F24A72;
}
h3{
  color: #F24A72;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #F24A72;
}
th{
  color: #F24A72;
}
